[submodule "Server Deployment, Containerization and Testing/project 4/FSND-Deploy-Flask-App-to-Kubernetes-Using-EKS"]
	path = Server Deployment, Containerization and Testing/project 4/FSND-Deploy-Flask-App-to-Kubernetes-Using-EKS
	url = https://github.com/ahmed751995/FSND-Deploy-Flask-App-to-Kubernetes-Using-EKS.git
